.home-body {
    background-image: url("../../assets/bg.webp");
    background-repeat: no-repeat;
    background-size: cover; 
    width: 100%;
    height: 100%;
    
  
  }
  .teamcard{
    background-color: #2125299c;
    color: #fff;
    padding: 10px;
  }
  .teamcard-title{
    color:#d3b419;
  }